<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APPSIS" value="parametrosBDCSOFT" />
    <add key="MODARRANQUE" value="PUNTOVENTA" />
    <!--PARA QUE FUNCIONE LO DE INVENTARIO COLOCAR INSUMOS Y NOTADEENTREGA-->
    <!--PARA QUE FUNCIONE LO DE CONDOMINIO COLOCAR CONDOMINIO Y FACTURA-->
    <!--PARA QUE FUNCIONE LO DE PUNTOVENTA COLOCAR PUNTOVENTA Y FACTURA O NOTADEENTREGA O COTIZACION-->
    <add key="TIPDOC" value="COTIZACION" />
    <!--PARA QUE FUNCIONE LA ARENERA VALUE MODO ARRANQUE VALUE=DESPACHO TIPDOC VALUE=PEDIDO-->
    <!--PARA QUE FUNCIONE LA PASTELERIA VALUE MODO ARRANQUE VALUE=PASTELERIA TIPDOC VALUE=NOTADEENTREGA-->
    <add key="PRINTER" value="USB" />
    <add key="MODELPRINTER" value="POS-58" />
    <add key="RECARGO" value="10" />
    <!--PRINTER LOS VALORES SN COM1-LPT1-USB-->
    <add key="SOLICITARUSUARIO" value="SI" />
    <add key="INF01" value="Este almacen se guardará como Almacén Principal" />
    <add key="INF02" value="El almacén no puede ser eliminado, tiene existencia de Articulos" />
    <add key="INF03" value="El almacén no puede ser eliminado, es almacén Principal" />
    <add key="INF04" value="El Nombre no puede estar en Blanco" />
    <add key="INF05" value="El Artículo ya tiene existencias en todos los almacenes" />
    <add key="INF06" value="El Precio Uno del Articulo no debe estar en Blanco" />
    <add key="INF07" value="Artículo no puede ser Eliminado. Articulo tiene Existencia" />
    <add key="INF08" value="Artículo no puede ser Eliminado. Articulo esta Asignado a un Proveedor" />
    <add key="INF09" value="Artículo no puede ser Eliminado. Esta Asignado a un Pedido" />
    <add key="INF10" value="La Abreviatura no puede estar en Blanco" />
    <add key="INF11" value="Debe seleccionar si Recalcula Costo Promedio" />
    <add key="INF12" value="Debe seleccionar el Tipo de Transacción" />
    <add key="INF13" value="Debe seleccionar si es Propio Del Sistema" />
    <add key="INF14" value="Debe seleccionar Si Bloquea por Inventario" />
    <add key="INF15" value="Debe agregar artículos para realizar la Transacción" />
    <add key="INF16" value="No hay Almacenes con Existencia. Debe registrar Existencia en un Almacén" />
    <add key="INF17" value="Debe seleccionar un Artículo para realizar la Transacción" />
    <add key="INF18" value="La cantidad de Artículo debe ser mayor que cero" />
    <add key="INF19" value="La Cantidad del Artículo debe ser menor que la Existencia" />
    <add key="INF20" value="El Artículo ya fué seleccionado" />
    <add key="INF21" value="No hay Artículos que eliminar" />
    <add key="INF22" value="Debe agregar artículos para realizar la Transferencia" />
    <add key="INF23" value="Debe seleccionar un Artículo para realizar la Transferencia" />
    <add key="INF24" value="El Almacén Destino no puede ser igual a Almacén Origen" />
    <add key="INF25" value="El Almacén Orig-_en no puede ser igual a Almacén Destino" />
    <add key="INF26" value="Seleccione el Almacén Origen" />
    <add key="INF27" value="Seleccione el Almacén Destino" />
    <add key="INF28" value="No existe el Registro" />
    <add key="INF29" value="No se puede Eliminar. La Unidad de Medida ha sido asignada a un Articulo!." />
    <add key="INF30" value="No hay registros que Modificar" />
    <add key="INF31" value="No hay registros que Eliminar" />
    <add key="INF32" value="No se puede Eliminar. La Familia ha sido asignada a un Articulo!." />
    <add key="INF33" value="No se puede Guardar la Factura. Debe buscar un Pedido" />
    <add key="INF34" value="No se puede Guardar la Factura. No hay existencias de Artículos" />
    <add key="INF35" value="Debe seleccionar un Cliente" />
    <add key="INF36" value="Debe agregar artículos para realizar un Pedido" />
    <add key="INF37" value="Debe seleccionar un Pedido" />
    <add key="INF38" value="No se puede Anular. El Pedido ha sido asignado a una Factura" />
    <add key="INF39" value="La Cedula/Rif  no puede estar en blanco" />
    <add key="INF40" value="La Dirección no puede estar en blanco" />
    <add key="INF41" value="El Rif no puede estar en blanco" />
    <add key="INF42" value="El Teléfono no puede estar en blanco" />
    <add key="INF43" value="La Dirección Larga no puede estar en blanco" />
    <add key="INF44" value="El Nombre Juridico no puede estar en blanco" />
    <add key="INF45" value="El Monto debe ser mayor que cero" />
    <add key="INF46" value="El Cliente no puede ser eliminado. Tiene Pedidos Asociados" />
    <add key="INF47" value="El Cliente no puede ser eliminado. Tiene Facturas Asociadas" />
    <add key="INF48" value="El Cliente ya existe" />
    <add key="INF49" value="No Hay Articulos para Asignar Al Proveedor..." />
    <add key="INF50" value="No Hay Articulos Asignados Para El Proveedor Indicado..." />
    <add key="INF51" value="Debe Registrar las Unidades de Medida" />
    <add key="INF52" value="Debe Registrar las Familias de Artículos" />
    <add key="INF53" value="Debe Registrar las Marcas de los Artículos" />
    <add key="INF54" value="Debe Registrar Impuestos" />
    <add key="INF55" value="Debe Registrar Grupo de Artículos" />
    <add key="INF56" value="Debe Registrar Almacenes" />
    <add key="INF57" value="Debe Registrar Artículos" />
    <add key="INF58" value="Debe Registrar Artículos del Negocio" />
    <add key="INF59" value="No hay Almacenes con Existencias, Debe registrar entradas de Artículos a algún Almacén" />
    <add key="INF60" value="Debe Registrar otro Almacén" />
    <add key="INF61" value="Debe Registrar Razon Social" />
    <add key="INF62" value="Debe Registrar Condicion de Pago" />
    <add key="INF63" value="No hay Existencia del Artículo en este Almacén" />
    <add key="INF64" value="Artículo no puede ser Eliminado. Esta Asignado a un Negocio" />
    <add key="INF65" value="Ocurrio un error al cargar la fotografia." />
    <add key="INF66" value="No se puede Eliminar. El Impuesto esta asignado a una Familia" />
    <add key="INF67" value="La Alicuota no puede estar en blanco" />
    <add key="INF68" value="El Precio Tres del Articulo no puede estar en blanco" />
    <add key="INF69" value="El Precio Dos del Articulo no puede estar en blanco" />
    <add key="INF70" value="El Precio de Credito del Articulo no puede estar en blanco" />
    <add key="INF71" value="El Stock Mínimo debe ser menor o igual que el Punto de Reorden" />
    <add key="INF72" value="El Stock Máximo debe ser mayor que el Stock Mínimo" />
    <add key="INF73" value="El Stock Máximo debe ser mayor o igual que el Punto de Reorden" />
    <add key="INF74" value="El Stock Mínimo debe ser menor o igual que el Stock Máximo" />
    <add key="INF75" value="Debe Registrar una Familia y una Unidad de Medida" />
    <add key="INF76" value="El Artículo ya Existe. Sumistre un Código diferente" />
    <add key="INF77" value="La Unidad de Medida Alterna ya ha sido Asignada" />
    <add key="INF78" value="No hay Unidades Alternas que Asignar" />
    <add key="INF79" value="No hay Unidades Alternas que Eliminar" />
    <add key="INF80" value="El Codigo del Articulo no puede estar en blanco" />
    <add key="INF81" value="La Descripcion del Articulo no puede estar en blanco" />
    <add key="INF82" value="El Precio Sugerido del Articulo no puede estar en blanco" />
    <add key="INF85" value="El Código no puede estar en blanco" />
    <add key="INF86" value="No se puede Eliminar. El Grupo de Artículo ha sido asignado a un Artículo!." />
    <add key="INF89" value="No se puede Eliminar. El Tipo de Transacción ha sido asignado a una Transacción" />
    <add key="INF90" value="La Familia ya existe. Suministre un codigo diferente" />
    <add key="INF91" value="El Stock minimo debe ser mayor que cero (0)" />
    <add key="INF92" value="El Stock maximo debe ser mayor que cero (0)" />
    <add key="INF93" value="El punto de reorden debe ser mayor que cero (0)" />
    <add key="INF94" value="No se puede Modificar el Registro. Verifique los datos" />
    <add key="INF95" value="Articulo ya esta asignado al negocio" />
    <add key="INF96" value="No se puede eliminar el Proveedor porque tiene un registro en Articulos por Proveedor" />
    <add key="INF97" value="No se puede eliminar el Proveedor porque tiene un registro en Orden de Compras" />
    <add key="INF98" value="Indique al menos un numero telefónico de la persona contacto" />
    <add key="INF99" value="No existe el Proveedor Indicado" />
    <add key="INF100" value="No hay Articulos que guardar al Proveedor" />
    <add key="INF101" value="No hay Articulos que modificar al Proveedor" />
    <add key="INF102" value="No hay Articulos que eliminar al Proveedor" />
    <add key="INF103" value="El Articulo no existe" />
    <add key="INF104" value="Seleccione un Proveedor" />
    <add key="INF105" value="No se puede Anular la Orden porque tiene Recepciones pendientes" />
    <add key="INF106" value="No existe el documento indicado" />
    <add key="INF107" value="No se puede Suspender la Orden porque tiene Recepciones pendientes" />
    <add key="INF108" value="Proveedor ya existe" />
    <add key="INF109" value="No se guardó la recepción porque la cantidad de los articulos recibidos es cero" />
    <add key="INF110" value="El Número de Documento no debe estar en blanco" />
    <add key="INF111" value="No ha especificado ninguna Orden de Compra" />
    <add key="INF112" value="No se puede Eliminar el registro. El Cliente tiene Documents Asociados" />
    <add key="INF113" value="Proveedor no existe" />
    <add key="INF114" value="No se puede Guardar el Articulo. Verifique los Datos" />
    <add key="INF115" value="El Almacén ya existe." />
    <add key="INF116" value="El Articulo tiene documentos Asociados." />
    <add key="INF117" value="El Proveedor encontrado ya tiene Articulos asignados" />
    <add key="INF118" value="No se puede guardar el Documento porque existe Articulos con costo igual a cero en la lista" />
    <add key="INF119" value="La Cantidad Ordenada excede la Al Stock Máximo de éste Articulo" />
    <add key="INF120" value="Debe registrar un Almacén Principal" />
    <add key="INF121" value="No se ha conseguido ningun Proveedor de Combustible" />
    <add key="INF122" value="No hay Articulos de Combustible... Debe Registrar Articulos y Asociarlos a un Almacen de Tipo Combustible" />
    <add key="INF123" value="Se ha generado un Orden de Combustible de Modo Automático..." />
    <add key="INF124" value="No se puede agregar el Articulo a la Orden porque no está asignado a un Almacen de Tipo Combustible" />
    <add key="INF125" value="El Grupo Articulo ya existe. No puede ser guardado" />
    <add key="INF126" value="La Unidad de Medida ya existe. No puede ser guardado" />
    <add key="INF127" value="No se pudo mostrar el Documento para imprimir porque hay otro documento abierto" />
    <add key="INF128" value="La caja ya existe." />
    <add key="INF129" value="El Pedido ya ha sido Facturado" />
    <add key="INF130" value="Debe descriminar una forma de pago" />
    <add key="INF131" value="El monto de los Pagos debe ser menor que el Monto Total de la Factura" />
    <add key="INF132" value="Debe buscar un Articulo" />
    <add key="INF133" value="El Stock minimo no debe estar en Blanco" />
    <add key="INF134" value="El Stock maximo no debe estar en Blanco" />
    <add key="INF135" value="El punto de reorden no debe estar en Blanco" />
    <add key="INF136" value="El Precio Uno del Articulo no debe estar en Blanco" />
    <add key="INF137" value="Usuario no existe" />
    <add key="INF138" value="El Usuario ya fue seleccionado" />
    <add key="INF139" value="No se puede Guardar la Factura. El monto debe ser mayor que cero(0)" />
    <add key="INF140" value="El monto debe ser mayor que cero(0)" />
    <add key="INF141" value="La Forma de Pago ya existe" />
    <add key="INF142" value="El numero de Dias no puede estar en Blanco" />
    <add key="INF143" value="El monto no puede estar en Blanco" />
    <add key="INF144" value="El plazo de credito debe ser mayor que cero(0)" />
    <add key="INF145" value="El Monto de la Factura Excede el Limite de Credito del Cliente" />
    <add key="INF146" value="El Monto del Abono debe ser menor que el Saldo de la Cuenta por Cobrar" />
    <add key="INF147" value="La Cuenta por Cobrar ya fué cancelada" />
    <add key="INF149" value="La Cuenta por Pagar ya fué cancelada" />
    <add key="INF150" value="No se puede Eliminar. El Grupo ha sido asignado a un Cliente!." />
    <add key="INF151" value="Faltan Datos que son obligatorios" />
    <add key="INF152" value="Ocurrio un Error al Guardar los Datos." />
    <add key="INF153" value="Debe Seleccionar un Grupo de Cliente" />
    <add key="INF154" value="Debe Seleccionar un Elemento" />
    <add key="INF192" value="Debe Seleccionar el Grupo" />
    <add key="INF193" value="Debe Seleccionar la Unidad de Medida" />
    <add key="INF194" value="Debe Seleccionar el Vendedor" />
    <add key="INF195" value="Debe Seleccionar el Tipo de Costo" />
    <add key="INF196" value="No se puede Eliminar el registro. El Proveedor tiene Documentos Asociados" />
    <add key="INF197" value="Debe Seleccionar un Grupo de Proveedor" />
    <add key="INF198" value="El Grupo de Proveedor ya Existe" />
    <add key="INF199" value="El Grupo de Cliente ya Existe" />
    <add key="INF200" value="Debe seleccionar un tipo de Crédito" />
    <add key="INF201" value="El Limite de Credito debe ser mayor de 0,00" />
    <add key="INF202" value="El Tipo de Credito ya existe" />
    <add key="INF203" value="Usuario o contraseña incorrecta" />
    <add key="INF255" value="El Producto ya Existe" />
    <add key="INF263" value="El Login del Usuario no puede estar en Blanco" />
    <add key="INF264" value="La Contraseña del Usuario no puede estar en Blanco" />
    <add key="INF265" value="La Contraseña no coincide con la Confirmación. Verifique los Datos e Intende de Nuevo" />
    <add key="INF266" value="Debe Seleccionar el Rol del Usuario" />
    <add key="INF280" value="Debe Seleccionar el Usuario" />
    <add key="INF281" value="El Usuario ya es miembro del Grupo" />
    <add key="INF285" value="Debe Introducir la Contraseña actual." />
    <add key="INF301" value="Debe Seleccionar la Linea" />
    <add key="INF302" value="Debe Seleccionar la Marca" />
    <add key="INF303" value="Debe Seleccionar la Familia" />
    <add key="INF304" value="Debe Seleccionar el Tipo" />
    <add key="INF305" value="Debe Seleccionar la Presentacion" />
    <add key="INF306" value="Debe Seleccionar el Sabor" />
    <add key="INF307" value="Registro Guardado Exitosamente" />
    <add key="INF308" value="Debe Seleccionar la Forma de Pago" />
    <add key="INF309" value="Debe Seleccionar el Almacen" />
    <add key="INF310" value="El Camion ya existe. No puede ser guardado" />
    <add key="INF311" value="No se puede Eliminar. El camión ha sido asignado a una Recepción!." />
    <add key="INF312" value="Seleccione el Camión" />
    <add key="INF313" value="Debe Seleccionar un Almacén" />
    <add key="INF314" value="Debe Seleccionar un Producto" />
    <add key="INF315" value="Debe Buscar un Pedido" />
    <add key="INF316" value="Debe Agregar Pesadas a la Nota de Entrega" />
    <add key="INF317" value="El Peso Tara No Puede Ser Mayor que el Peso Bruto" />
    <add key="INF318" value="El Peso Tara No puede ser igual al Peso Bruto" />
    <add key="INF319" value="El Peso Neto debe ser mayor de 0,00" />
    <add key="INF320" value="Del Producto que desea despachar No hay suficiente Existencia" />
    <add key="INF321" value="Debe agregar Detalles a la Transacción" />
    <add key="INF322" value="En este Almacén No hay suficiente Existencia del Producto" />
    <add key="INF323" value="Debe Seleccionar el Formato de Impresión" />
    <add key="INF324" value="No puede continuar el proceso de Desposte, Debido a que ya a pesado toda la cantidad de Peso Planta del Lote" />
    <add key="INF325" value="No puede continuar el proceso de Desposte, Debido a que el Peso Neto es Mayor a los Kilogamos por Pesar del Lote" />
    <add key="INF326" value="Debe agregar Detalles a la Salida de Cava" />
    <add key="INF327" value="Debe agregar Pesadas a la Salida de Cava" />
    <add key="INF328" value="La Recepcion esta en Proceso de Desposte" />
    <add key="INF329" value="El Articulo no puede ser eliminado, tiene documentos asociados" />
    <add key="INF330" value="Debe agregar Detalles a la Toma Fisica de Inventario" />
    <add key="INF331" value="La Cantidad Devuelta es mayor a la Cantidad Vendida" />
    <add key="INF332" value="Debe Seleccionar un Banco" />
    <add key="INF333" value="El Número de Cuenta no puede estar en blanco" />
    <add key="INF334" value="Debe Seleccionar un Tipo de Cuenta" />
    <add key="INF335" value="Debe Seleccionar un Tipo de Moneda" />
    <add key="INF336" value="Debe Seleccionar un Número de Cuenta" />
    <add key="INF337" value="No se puede Eliminar. El Banco ha sido asignado a una Cuenta Bancaria" />
    <add key="INF338" value="Debe Seleccionar el Banco" />
    <add key="INF339" value="Debe Indicar el Número de Cuenta" />
    <add key="INF340" value="No se puede Eliminar. El Número de Cuenta tiene Chequeras Asociadas" />
    <add key="INF341" value="No se puede Eliminar. El Número de Cuenta tiene Movimientos de Bancos Asociados" />
    <add key="INF342" value="El Número del Ultimo Cheque no puede ser menor o igual que el Número del Primer Cheque" />
    <add key="INF343" value="Esta Cuenta no puede ser Eliminada.Tiene una Factura Asociada" />
    <add key="INF344" value="Esta Cuenta no puede ser Eliminada.Tiene Pagos Asociados" />
    <add key="INF345" value="No hay cheques disponibles para esta Cuenta." />
    <add key="INF900" value="Registro Grabado con éxito..." />
    <add key="INF901" value="Esta acción Cerrará el Lote Activo y ya no estará disponible... ¿Esta Seguro de Cerrar el lote Actual? " />
    <add key="INF902" value="Registro Actualizado con éxito.. " />
    <add key="INF903" value="La Lista de Precios ya esta Procesada y no podra Modificarla. " />
    <add key="INF904" value="Registro Eliminado con éxito.." />
    <add key="INF905" value="Debe seleccionar al menos una Recepcion para procesar el Lote. " />
    <add key="INF906" value="El Peso planta debe ser un numero mayor que (0)." />
    <add key="INF907" value="No se puede realizar ninguna accion a las Recepciones que ya estan en Proceso de Desposte" />
    <add key="INF908" value="Debe Seleccionar el Lote" />
    <add key="INF909" value="No puede Cerrar el Lote puesto que no a realizado el Proceso de Desposte para una Recepción" />
    <add key="INF910" value="Debe Buscar una Salida de Cava" />
    <add key="INF911" value="Debe agregar Detalles a la Nota de Entrega" />
    <add key="INF912" value="Debe Buscar una Nota de Entrega" />
    <add key="INF913" value="Debe agregar Detalles a la Devolución" />
    <add key="INF914" value="Debe agregar Pesadas a la Devolución" />
    <add key="INF915" value="Debe Seleccionar el Motivo de la Devolución" />
    <add key="INF916" value="Registro Eliminado con éxito" />
    <add key="INF917" value="No hay mas registros que mostrar" />
    <add key="INF918" value="El Monto a cancelar es diferente a los pagos realizados. Revise el desglose de pago y vuelva a intentarlo" />
    <add key="INF919" value="Debe Seleccionar la Caja" />
    <add key="INF920" value="Debe Seleccionar la forma de pago" />
    <add key="INF921" value="El movimiento de Caja no puede ser Eliminado. Ya que el Origen pertenece a otra entidad" />
    <add key="INF922" value="No se puede Eliminar. La Linea ha sido asignada a un Articulo" />
    <add key="INF923" value="No se puede Eliminar. El Grupo ha sido asignado a un Proveedor!." />
    <add key="INF924" value="No se puede Eliminar. La Marca ha sido asignada a un Articulo!." />
    <add key="INF925" value="No se puede Eliminar. La Presentacion ha sido asignada a un Articulo!." />
    <add key="INF926" value="No se puede Eliminar. El Sabor ha sido asignada a un Articulo!." />
    <add key="INF927" value="Debe registrar los datos del Documento Asociado" />
    <add key="INF928" value="Debe selecionar la Cuenta Bancaria" />
    <add key="INF929" value="ERROR: No se puede guardar la Empresa. Ya Existe el Registro" />
    <add key="INF930" value="La Empresa ya Existe" />
    <add key="INF931" value="La Empresa se guardo correctamente. La Instalacion guiada le permitira de forma rapida y sencilla la configuracion basica de la aplicacion." />
    <add key="INF932" value="No se encuentran archivos de configuración que son necesarios para el funcionamiento del Sistema." />
    <add key="INF933" value="No hay saldo disponible en la Cuenta." />
    <add key="INF934" value="Debe seleccionar el Movimiento." />
    <add key="INF935" value="Debe seleccionar el Tipo de Movimiento." />
    <add key="INF936" value="Debe Indicar el Concepto." />
    <add key="INF937" value="Debe Seleccionar Cuentas Bancarias diferentes." />
    <add key="INF938" value="No hay saldo disponible en la Caja." />
    <add key="INF939" value="Debe registrar el Numero de Control de la Factura." />
    <add key="INF940" value="El Registro ya existe." />
    <add key="INF941" value="No se puede Eliminar el registro. Tiene documentos asociados." />
    <add key="INF943" value="Debe indicar el Calendario." />
    <add key="INF944" value="Debe indicar el Estado Civil." />
    <add key="INF945" value="Debe indicar el Sexo." />
    <add key="INF946" value="Debe indicar el Cargo." />
    <add key="INF947" value="Debe indicar el Tipo de Nomina." />
    <add key="INF948" value="Debe indicar el Departamento." />
    <add key="INF949" value="Debe Seleccionar una Empresa." />
    <add key="INF950" value="No se puede Eliminar. La Zona ha sido asignada a un Vendedor!." />
    <add key="INF951" value="Debe seleccionar la Zona." />
    <add key="INF952" value="Debe seleccionar un Vendedor." />
    <add key="INF953" value="No hay Información para Visualizar." />
    <add key="INF954" value="Debe seleccionar un Servicio." />
    <add key="INF955" value="Debe Seleccionar una Tarifa." />
    <add key="INF956" value="No se puede Anular el Documento, el mismo posee una Cuenta por cobrar que tiene movimientos asociados." />
    <add key="INF957" value="Debe Eliminar todos los Movimientos de la Cuenta por Cobrar antes de intentar de nuevo esta operacion." />
    <add key="INF958" value="No se puede Anular el Documento ya que tiene documentos asociados." />
    <add key="INF959" value="La Factura fue Impresa correctamente, no puede Reimprimir el documento" />
    <add key="INF960" value="Debe Seleccionar El Tipo De Retención de IVA" />
    <add key="INF961" value="Debe Seleccionar un Proveedor" />
    <add key="INF962" value="El Documento ya esta procesado. No se puede realizar ninguna acción" />
    <add key="INF963" value="El Documento en Espera se guardo satisfactoriamente" />
    <add key="INF964" value="La Aplicación ya esta Ejecutandose" />
    <add key="INF965" value="No tiene permisos para establer comunicacion con el Servidor de Datos" />
    <add key="INF966" value="Existe un Error en un Campo de la Tabla de Productos" />
    <add key="INF967" value="Existe un Error en un Campo de la Tabla de Configuracion de Ventas" />
    <add key="INF968" value="Introduzca el Numero de la Factura del proveedor" />
    <add key="INF969" value="Introduzca el Numero de Control de la Factura" />
    <add key="INF970" value="El Numero del Documento pertenece a una Factura ya Existente" />
    <add key="INF971" value="No se puede Cargar los Precios de Esta Tarifa" />
    <add key="INF972" value="Debe Seleccionar la Ubicación" />
    <add key="INF973" value="La Factura no fue impresa correctamente. No se puede aplicar la Nota de Credito. Imprima la Factura e intente de Nuevo" />
    <add key="INF974" value="A la Factura ya se le aplico una Nota de Credito" />
    <add key="INF975" value="No se puede Establecer comunicacion con la Impresora Fiscal" />
    <add key="INF976" value="Informacion del Equipo Fiscal" />
    <add key="INF977" value="Existe un ERROR en la solicitud Realizada. Verifique que el Equipo Fiscal no se encuentre apagado ,desconectado o sin papel e intentelo de nuevo" />
    <add key="INF985" value="El Contrato se Genero Satisfactoriamente." />
    <add key="INF988" value="Seleccione la Cuenta Origen que desea cambiar" />
    <add key="INF989" value="Seleccione la Cuenta Destino donde quiere trasladar la Cuenta" />
    <add key="INF990" value="La Cuenta Destino no puede ser Igual a la Cuenta Origen" />
    <add key="INF991" value="Seleccione una Cuenta" />
    <add key="INF992" value="Debe Seleccionar al menos una Cuenta" />
    <add key="INF993" value="Cuenta Cancelada" />
    <add key="INF994" value="Debe Seleccionar un Local para Generar el Contrato " />
    <add key="INF995" value="Introduzca el numero del Inmueble." />
    <add key="INF996" value="Introduzca el nombre del Inmueble." />
    <add key="INF997" value="Debe asignar una alicuota al Inmueble." />
    <add key="INF998" value="Inmueble guardado satisfactoriamente." />
    <add key="INF999" value="Debe seleccionar un Inmueble." />
    <add key="INF1000" value="Debe Registrar las Cuotas del Contrato." />
    <add key="INF1001" value="El formato de rif no es Valido." />
    <add key="INF1002" value="No se puede Eliminar el Registro esto se debe a que el Movimiento de Caja fue realizado en otra fecha ." />
    <add key="INF1003" value="Debe Seleccionar una Cuenta." />
    <add key="INF1004" value="Para un nuevo producto debe realizar otra factura.." />
    <add key="INF1005" value="Seleccione un Medio de Pago" />
    <add key="INF1006" value="Debe Registrar Grupo de Clientes" />
    <add key="INF1007" value="Debe Registrar la descripcion de la Salida" />
    <add key="INF1008" value="Registro Satisfactorio" />
    <add key="INF1009" value="Registre un Grupo de Servicios" />
    <add key="INF1010" value="No hay Impresoras Fiscales configuradas en este Equipo!" />
    <add key="INF1011" value="El precio no puede ser 0" />
    <add key="INF1012" value="Los datos son incorrectos. Registre al cliente" />
    <add key="INF1013" value="No tienes Cuentas Registradas. Registre una Cuenta Bancaria y vuelva a Intentarlo" />
    <add key="INF1014" value="El Monto de la Factura supera el valor diario de Facturacion permitido por su Equipo Fiscal. Debe Emitir un Reporte Z si quiere continuar el proceso de Facturacion del dia." />
    <add key="INF1015" value="Debe Configurar Los Impuestos Asociados al Sistema." />
    <add key="INF1016" value="Debe Seleccionar el Vehiculo que realizara el Transporte." />
    <add key="INF1017" value="Debe Seleccionar el Destino." />
    <add key="INF1018" value="Debe Seleccionar Una Receta." />
    <add key="INF1019" value="Debe Ingresar el Producto que se desea procesar" />
    <add key="INF1020" value="Debe Seleccionar el Representante" />
    <add key="INF1021" value="Debe Seleccionar el Origen de la Ruta" />
    <add key="INF1022" value="Debe Seleccionar el Uso del Mineral" />
    <add key="INF1023" value="Debe Seleccionar el Chofer que Realizara el Viaje" />
    <add key="INF1024" value="Debe Indicar el Numero de la Licencia" />
    <add key="INF1025" value="Debe Seleccionar el Pedido al que desea hacer el Despacho" />
    <add key="INF1026" value="El Pedido fue Despachado en su Totalidad" />
    <add key="INF1027" value="La Cantidad de Material que desea Despachar Excede la Capacidad del Vehiculo" />
    <add key="INF1028" value="Introduzca el Numero de Guia de Circulacion" />
    <add key="INF1029" value="Debe Seleccionar la Guia de Despacho" />
    <add key="INF1030" value="Debe Seleccionar el Pedido que desea Eliminar" />
    <add key="INF1031" value="Ya se realizo el Pago de la Orden de Pedido." />
    <add key="INF1032" value="Existe un Error en un Campo de la Tabla de Configuracion de Sistema" />
    <add key="INF1033" value="Debe seleccionar la Caja que desea consultar" />
    <add key="CONF01" value="Ya existe un Almacén Principal. Desea que este Almacén sea el principal?" />
    <add key="CONF02" value="Está seguro que desea eliminar el registro?" />
    <add key="CONF03" value="¿Desea Eliminar este Articulo de la Lista?" />
    <add key="CONF04" value="¿Desea Anular el Documento?" />
    <add key="CONF05" value="¿Desea Suspender el Documento?" />
    <add key="CONF06" value="Se ha detectado que existe Articulos que ameritan realizar Orden de Compra. ¿Desea ver los Articulos?" />
    <add key="CONF08" value="Esta acción Cerrará la Recepción y ya no podra modificarla...¿Esta Seguro de Cerrar la Recepción?" />
    <add key="CONF09" value="¿Esta seguro de Salir de la Aplicación?" />
    <add key="CONF10" value="¿Desea Realizar un Abono a la Factura?" />
    <add key="CONF11" value="Desea aplicar la Nota de Crédito a la Factura #" />
    <add key="CONF12" value="¿El Cliente no Existe. Desea Incluirlo?" />
    <add key="CONF13" value="El Proveedor no Existe. Desea Incluirlo?" />
    <add key="CONF14" value="Esta seguro de cerrar el Documento?" />
    <add key="CONF15" value="Esta seguro de Realizar esta acción?" />
    <add key="CONF16" value="¿Esta seguro de Guardar la Información?" />
    <add key="CONF17" value="No hay Existencia de este Articulo. ¿Esta seguro de seguir facturandolo?" />
    <add key="CONF18" value="¿Esta seguro de Cambiar la Cuenta?" />
    <add key="CONF19" value="¿Esta seguro de Cancelar la Cuenta?" />
    <add key="CONF20" value="¿Imprimir Factura Personalizada?" />
    <add key="CONF21" value="¿Esta seguro de Salir del Registro de Inmueble?" />
    <add key="CONF22" value="¿Desea Generar una Guia de Circulación?" />
    <add key="CONF23" value="¿Desea Generar una Guia de Despacho?" />
    <add key="CONF24" value="¿Desea Realizar un Pago a la Orden de Pedido?" />
    <add key="CONF25" value="¿Esta seguro de Eliminar la Guia de Despacho?" />
    <add key="CONF26" value="¿Esta seguro de Anular la Guia de Despacho?" />
    <add key="CONF27" value="La Orden ya esta Procesada. ¿Esta seguro de Eliminar la Guia de Despacho?" />
    <add key="CONF28" value="La Orden ya esta Procesada. ¿Esta seguro de Anular la Guia de Despacho?" />
    <add key="CONF29" value="¿Esta seguro de Eliminar la Orden de Pedido?" />
    <add key="ERR01" value="Ocurrio un error al cargar la fotografia." />
    <add key="ADV001" value="Se ha detectado que existe Articulos cuya existencia está por debajo del Punto de Reorden" />
    <add key="ADV002" value="Se ha detectado que existe Articulos que ameritan realizar Orden de Compra" />
    <add key="ADV003" value="Se han detectado fallas en la existencia de este producto" />
    <add key="ADV004" value="Para abrir una nueva Cuenta debe guardar o cancelar la cuenta abierta" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>